<div class="panel panel-primary">
  <div class="panel-heading">
    <h1>Pantry Items</h1>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-hover">
        <tr>
          <th>Name</th>
          <th>Amount</th>
        </tr>
        <% @pantry_items.each do |pantry_item| %>
          <tr>
          <td><%= pantry_item.ingredient.name %></td>
          <td><%= pantry_item.amount %></td>
        </tr>
      <% end%>
      </table>
    </div><!-- /table-responsive -->
    <%= link_to 'New Pantry Item', new_pantry_item_path %>
  </div><!-- /panel-body -->
</div><!-- /panel -->
