<h1>All shopping lists</h1>
<table class="table">
  <% @shopping_lists.each do |list| %>
  <tr>
    <td><%= link_to list.created_at, list %></td>
  </tr>
  <% end %>
</table>
<%= link_to 'Create a shopping list', new_shopping_list_path %>
